@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*Colors:
#2C3531 - Dark Grey
#116466 - Greenish
#D9b08C - Pinkish
#FFCB9A - Peach
#D1E8E2 - Light Blue
*/
html, body {
	margin: 0;
	overflow-x: hidden;
}
/*navigation*/

.navbar{
	background-color: #e0e0e0;
	/* margin: -10px; */
	/* padding: 8px 10px 10px 10px; */
	width: 100%;
	position: fixed!important;
	top: 0;
	left: 0;
	z-index: 50;
	display: inline-flex;
	height: 36px;
}
#logo {
	margin: 0 auto 0 8px;
}
.menu-items { /* deleted */
	/* float: right; */
	margin: auto;
	/* position: relative; */
	/* height: 20px!important; */
	margin-right: 40px;
}
.menu-item {
	display: inline-block;
	margin: 0 1px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	padding: 6px 12px 7px 12px; 
	/*font-family: ___*/
	color: #116466;
	-webkit-transition: color 300ms;
	transition: color 300ms;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.menu-item::before, .navbar > div::before {
    content: "";
    position: absolute;
	z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: #aaa;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
}
.menu-item:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	border-radius: 5px!important;
}
/*Main Site*/
.wrapper {
	width: 100vw;
	/* margin: 0px -10px -10px -10px; */
	padding-top: 36px;
}
.banner{
	width: 100vw;
	height: calc(100vh - 28px);
	background-image: url(https://cdn.pocket-lint.com/r/s/1200x/assets/images/142413-apps-feature-art-and-science-collide-the-best-in-modern-space-art-image1-iha6vzu3wk.jpg);
	background-repeat:none;
	background-size: 100vw;
	position: fixed;
}
.title{
	position: relative;
	display: block;
	text-shadow: 2px 4px 5px #000000;
	font-family: 'Source Sans Pro', sans-serif;
	text-align:center;
	white-space: pre;
	content:"Star Seeker";
	font-size: 50px;
	color: white;
	position: absolute;
	left: 0%;
	right: 0%;
	transform: translateY(40vh);
}
.content {
	background-color: white;
	position: relative;
	width: 100vw;
	margin-top: calc(100vh - 36px);
	box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.75);
	padding-bottom: 1000px;
}
.section{
	position: relative;
	margin-bottom: 500px!important;
}
.info-text > p{
	padding: 0px 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	
}
.info-text > h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 42px;
	text-align:center;
}
.info-text{
	width: 100vw;
}
.info-image{
	width: 100vw;
	max-height: 250px;
}
.info-left{
	float: left;
}
.info-right{
	float: right;
}
@media only screen and (min-width: 600px){
	.title{
		font-size: 80px;
	}
	.info-image{
		width: 65vw;
		height: 450px;
		max-height: 450px;
	}
	.info-text{
		background-color: #e0e0e0;
		width: 35vw;
		height: 450px;
		max-height: 450px;
	}
}
a {
	text-decoration: none;
	color:#116466;
}
/* Top Navigation */
.navbar .small-screen {
	display: none;
}
.navbar > div {
	position: relative;
}
@media only screen and (max-width: 511px) {
	.navbar .large-screen, .navbar > div, .navbar .menu-item {
		display: none;
	}
	.navbar .small-screen {
		display: inline-block;
	}
}
.navbar > div:hover::before {
	/*content: " ";
	width: 100%;height:100%;
	background-color: rgb(170,170,170);*/
	border-radius: 5px 5px 0 0;
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
}
.navbar > div .submenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;
	width: fit-content;
	width: -moz-fit-content;
	background-color: rgb(170,170,170);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: max-height 0.5s, margin 0.5s;
	margin: -36px 0;
	max-height: 0;
}
.navbar > div:hover .submenu {
	display: block;
	max-height: 50vh;
	margin: 0;
}
.navbar > div .submenu a {
	white-space: nowrap;
	padding: 2px 16px 2px 12px;
}
.navbar > div .submenu a:hover {
	transition: transform .2s;
	opacity: 0.8;
	transform: scale(1.1);
}
.navbar > div:last-child .submenu {
	position: absolute;
    right: 0;
}
/* Sidenav */

#open-sidenav-btn i {
	cursor: pointer;
	transition: transform 0.2s;
}
#open-sidenav-btn i:hover {
	transform: scale(1.12);
}
.sidenav {
	height: 100vh;
	position: fixed;
	top: 0;
	left: -250px;
	background-color: #e0e0e0;
	overflow-x: hidden;
	transition: 0.5s;
	width: 250px;
	z-index: 101;
	padding: 0;
    margin: 0;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	user-select: none;
	-webkit-user-select: none;
}
.sidenav ul {
	margin: 0;
	padding-left: 26px;
}
.sidenav li {
	cursor: pointer;
	padding: 6px 0 6px 6px;
    list-style-type: none;
}
.sidenav li a {
	color: #116466;
	text-decoration: none;
	transition: opacity 0.2s;
}
.sidenav li a:hover {
	opacity: 0.7;
}
.sidenav li a:active {
	opacity: 0.4;
}
.sidenav li i {
	margin: 0 4px;
}
.overlay {
	display: none; /* toggles with block */
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(68,68,68);
	opacity: 0;
	z-index: 100;
	transition: opacity 0.5s;
}